{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": false,
  "insertPragma": false,
  "requirePragma": false,
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "always"
}
